
{% extends 'base.html' %}

{% block title %}
    {{ author }}
{% endblock %}

{% block content %}
    <h2 class="display-4 text-center text-warning">{{ exercise.name }}</h2>
    <div class="row bg-dark p-3 text-warning">
        <div class="col-lg-4">
            <img src="{{ exercise.poster.url }}"
                 class="img-fluid rounded"
                 alt="{{ exercise.name }}">
            <h4 class="text-warning">Tags:</h4>
            <ul>
<div class="col-lg-8">
            {% for difficulty in exercise.difficulties.all %}
                    <span class="badge badge-secondary text-warning">{{ difficulty.name }}</span>
                {% endfor %}
                {% for equipment in exercise.equipments.all %}

                    <span class="badge badge-secondary text-warning">{{ equipment.equipment }}</span>
                {% endfor %}
                {% for body_part in exercise.body_parts.all %}

                    <span class="badge badge-secondary text-warning">{{ body_part.body_part }}</span>
                {% endfor %}
        </div>
            </ul>
        </div>
    <div class="col-lg-8">
            <div>{{ exercise.obsah }}</div>
        </div>

    </div>
{% endblock %}