{% extends 'base.html' %}

{% block title %}
    Seznam autorů
{% endblock %}

{% block content %}
    <h2 class="text-warning">List</h2>
    <div class="row bg-dark p-3">
    {% for exercise in exercises %}
        <div class="col-lg-2 col-md-3">
            <img src="{{ exercise.poster.url }}"
                 class="img-fluid rounded"
                 alt="{{ exercise.name }}">
            <p><a class="text-warning" href="{% url 'exercise_detail' exercise.id %}">{{ exercise.name }}</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}